/*
    Created on : Mar 24, 2019, 9:33:05 PM
    Authorzy:
        * Artur Dziedziczak 211802
        * Monika Nawój 211828
*/
__ROOT__{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

#nagłówek:before{
    content: "Płytoteka";
    display: block;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

plyta {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #1e3456;
    color: #fff;
    display: grid;
    grid-template-columns: minmax(200px, 3fr) 9fr;
    grid-template-areas: "tytul wykonawca gatunek cena ocena data" "desc desc desc desc desc desc";
}
naglowek {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #1e3456;
    color: #fff;
    display: grid;
    grid-template-columns: minmax(200px, 3fr) 9fr;
    grid-template-areas: "kolumna kolumna kolumna kolumna kolumna kolumna";
}
#nagłówek *{
    width: 200px;
}
tytul {
  grid-area: tytul;
}
wykonawca {
  grid-area: wykonawca;
}
gatunek {
  grid-area: gatunek;
}
cena {
  grid-area: cena;
}

ocena {
  grid-area: ocena;
}
data {
  grid-area: data;
}
data {
  grid-area: data;
}
opis {
  grid-area: desc;
}



autorzy{
    padding-bottom: 10px;
}

autorzy:before{
    content: "Autorzy projektu:";
    font-weight: bold;
}

autor{
    display: list-item;
    margin-left: 25px;
    margin-left: 25px;
}

data-oddania:before{
    content: "Data oddania:";
    font-weight: bold;
    display: block;
}

dzień-tygodnia:after{
    content: ",";
}

dzień:after, miesiąc:after{
    content: ".";
}

plyta:nth-child(even){
    background-color: #666;
    color: #fff;
}

plyta > *, tabela-plyt naglowek *{
    display: table-cell;
    padding: 20px 15px;
}

tabela-plyt naglowek *{
    font-weight: bold;
    background-color: rgb(52, 58, 64);
    color: #fff;
}

cena:after{
    content: " zł";
}