/*
    Created on : Mar 24, 2019, 9:33:05 PM
    Authorzy:
        * Artur Dziedziczak 211802
        * Monika Nawój 211828
*/
__ROOT__{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

#nagłówek:before{
    content: "Płytoteka";
    display: block;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

#nagłówek{
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    background-color: #1e3456;
    color: #fff;
    align-self: stretch;
}
#nagłówek *{
    width: 200px;
}

autorzy{
    padding-bottom: 10px;
}

autorzy:before{
    content: "Autorzy projektu:";
    font-weight: bold;
}

autor{
    display: list-item;
    margin-left: 25px;
    margin-left: 25px;
}

data-oddania:before{
    content: "Data oddania:";
    font-weight: bold;
    display: block;
}

dzień-tygodnia:after{
    content: ",";
}

dzień:after, miesiąc:after{
    content: ".";
}

tabela-plyt{
    display: table;
}

tabela-plyt naglowek{
    display: table-header-group;
}

plyty{
    display: table-row-group;
}

plyta{
    display: table-row;
}

plyta > *{
    border-bottom: 1px #000  solid;
}

plyta:nth-child(even){
    background-color: #666;
    color: #fff;
}

plyta > *, tabela-plyt naglowek *{
    display: table-cell;
    padding: 20px 15px;
}

tabela-plyt naglowek *{
    font-weight: bold;
    background-color: rgb(52, 58, 64);
    color: #fff;
}


cena:after{
    content: " zł";
}