/*
    Created on : Mar 24, 2019, 9:33:05 PM
    Authorzy:
        * Artur Dziedziczak 211802
        * Monika Nawój 211828
*/
__ROOT__{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
#nagłówek{
    margin-bottom: 20px;
    padding: 20px;
    background-color: #1e3456;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#nagłówek:before{
    content: "Płytoteka";
    display: block;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 10px;
}
#nagłówek *{
    width: 200px;
}

tabela-płyt{
    width: 80vw;
    font-size: 13px;
}

tabela-płyt płyta {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 30% 30% 10% 10% 10% 10%;
    grid-template-areas: "tytuł nazwa-wykonawcy gatunek cena tabela-plyt-ocena premiera" "opis opis opis opis opis opis";
}
tabela-płyt kolumny{
    display: grid;
    grid-template-columns: 30% 30% 10% 10% 10% 10%;
    grid-template-areas: "tabela-plyt-kolumna tabela-plyt-kolumna tabela-plyt-kolumna tabela-plyt-kolumna tabela-plyt-kolumna tabela-plyt-kolumna";
}

tabela-płyt tytuł {
  padding: 20px 15px;
  grid-area: tytuł;
}
tabela-płyt nazwa-wykonawcy {
  grid-area: nazwa-wykonawcy;
  padding: 20px 15px;
}
tabela-płyt gatunek {
  grid-area: gatunek;
  padding: 20px 15px;
}
tabela-płyt cena {
  grid-area: cena;
  padding: 20px 15px;
}

tabela-płyt ocena {
  grid-area: tabela-plyt-ocena;
  padding: 20px 15px;
}

tabela-płyt opis:before{
    padding: 20px 15px;
    content: "Opis";
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
tabela-płyt premiera {
  grid-area: premiera;
  padding: 20px 15px;
}

tabela-płyt opis {
  grid-area: opis;
  padding: 20px 15px;
}

tabela-płyt autorzy{
    padding-bottom: 10px;
}

tabela-płyt autorzy:before{
    content: "Autorzy projektu:";
    font-weight: bold;
}

tabela-płyt autor{
    display: list-item;
    margin-left: 25px;
    margin-left: 25px;
}

tabela-płyt data-oddania:before{
    content: "Data oddania:";
    font-weight: bold;
    display: block;
}

dzień-tygodnia:after{
    content: ",";
}

dzień, miesiąc{
    margin-right: -0.25em;
}

dzień:after, miesiąc:after{
    content: ".";
}

tabela-płyt płyta:nth-child(even){
    background-color: #666;
    color: #fff;
}

tabela-płyt kolumna {
    grid-area: "tabela-plyt-kolumna";
    padding: 20px 15px;
    font-weight: bold;
    background-color: rgb(52, 58, 64);
    color: #fff;
}

tabela-płyt cena:after{
    content: attr(waluta);
}

wykonawcy {
    width: 80vw;
}

wykonawcy kolumny{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "wykonawcy-kolumny wykonawcy-kolumny";
    font-weight: bold;
    padding: 20px 15px;
    background-color: rgb(52, 58, 64);
    color: rgb(255, 255, 255);
    text-align: center;
}
wykonawcy kolumna {
	grid-area: "wykonawcy-kolumny";
}

wykonawcy wykonawca {
    display: grid;
    padding: 20px 15px;
    grid-template-columns: 50% 50%;
    grid-template-areas: "nazwa ocena";
}
wykonawcy wykonawca:nth-child(even) {
    background-color: #666;
    color: #fff;
}
wykonawcy nazwa {
  grid-area: nazwa;    
}
wykonawcy ocena {
  text-align: center;
  grid-area: ocena;    
}
