/*
    Created on : Mar 24, 2019, 9:33:05 PM
    Authorzy:
        * Artur Dziedziczak 211802
        * Monika Nawój 211828
*/
__ROOT__{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
#nagłówek{
    margin-bottom: 20px;
    padding: 20px;
    background-color: #1e3456;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#nagłówek:before{
    content: "Płytoteka";
    display: block;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 10px;
}
#nagłówek *{
    width: 200px;
}

tabela-płyt{
    width: 80vw;
    font-size: 13px;
}
wykonawcy > nagłówek {
    display: grid;
    grid-template-columns: 50% 50%;
    font-weight: bold;
    padding: 20px 15px;
    background-color: rgb(52, 58, 64);
    color: rgb(255, 255, 255);
    text-align: center;
}

wykonawca {
    display: grid;
    padding: 20px 15px;
    grid-template-columns: 50% 50%;
    grid-template-areas: "nazwa ocena";
}
wykonawca:nth-child(even) {
    background-color: #666;
    color: #fff;
}
nazwa {
  grid-area: nazwa;    
}
ocena {
  text-align: center;
  grid-area: ocena;    
}
płyta {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 30% 30% 10% 10% 10% 10%;
    grid-template-areas: "tytuł nazwa-wykonawcy gatunek cena ocena premiera" "opis opis opis opis opis opis";
}
nagłówek{
    display: grid;
    grid-template-columns: 30% 30% 10% 10% 10% 10%;
    grid-template-areas: "kolumna kolumna kolumna kolumna kolumna kolumna";
}

tytuł {
  grid-area: tytuł;
}
nazwa-wykonawcy {
  grid-area: nazwa-wykonawcy;
}
gatunek {
  grid-area: gatunek;
}
cena {
  grid-area: cena;
}

ocena {
  grid-area: ocena;
}

opis:before{
    content: "Opis";
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
premiera {
  grid-area: premiera;
}

opis {
  grid-area: opis;
}

autorzy{
    padding-bottom: 10px;
}

autorzy:before{
    content: "Autorzy projektu:";
    font-weight: bold;
}

autor{
    display: list-item;
    margin-left: 25px;
    margin-left: 25px;
}

data-oddania:before{
    content: "Data oddania:";
    font-weight: bold;
    display: block;
}

dzień-tygodnia:after{
    content: ",";
}

dzień, miesiąc{
    margin-right: -0.25em;
}

dzień:after, miesiąc:after{
    content: ".";
}

płyta:nth-child(even){
    background-color: #666;
    color: #fff;
}

płyta > *, tabela-płyt nagłówek *{
    display: table-cell;
    padding: 20px 15px;
}

tabela-płyt nagłówek *{
    font-weight: bold;
    background-color: rgb(52, 58, 64);
    color: #fff;
}

cena:after{
    content: attr(waluta);
}